venv/
.env
pycaches/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.db
coverage/html
htmlcov/
coverage.xml
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.pyre/
.coverage
.coverage.*
pip-wheel-metadata/
dist/
build/
*.egg-info/
.eggs/  